<header xmlns:th="http://www.thymeleaf.org" class="shadow-sm p-3 rounded" th:fragment="header">
    <div class="container">
        <div class="d-flex gap-3 align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <h1 style="font-family: Roboto Condensed; color: #444136" class="display-3" ><b>Go <span class="yellow">E</span>vent</b></h1>
            </a>

            <ul class="nav flex-grow-1 mb-2 mb-md-0">

            </ul>

            <div class="text-end" th:if="${not #authorization.expression('isAuthenticated()')}">
                <a href="/auth/login" type="button" class="btn btn-outline-warning me-3">Login</a>
                <a href="/auth/cadastro" type="button" class="btn btn-warning">Cadastre-se</a>
            </div>

            <div class="dropdown text-end" th:if="${#authorization.expression('isAuthenticated()')}">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" href="/auth/password/new">Editar Senha</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <form method="post" th:action="@{/logout}">
                            <button class="dropdown-item" type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</header>